header {
  position: fixed;
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  top: 0;
  left: 0;
}
header span {
  display: inline-block;
  height: 0.8rem;
  line-height: 0.8rem;
}
header span.back {
  font-size: 0.5rem;
  padding: 0.15rem 0.1rem;
}
header span.title {
  position: absolute;
  left: 0.6rem;
  right: 0.6rem;
  width: auto;
  font-size: 0.4rem;
  text-align: center;
}
header span.more {
  position: absolute;
  right: 0.1rem;
  font-size: 0.3rem;
  padding: 0 0.1rem;
  /* img{
						width: 0.4rem;
						margin-top: 0.2rem;
					} */
}
header span.collection {
  position: absolute;
  right: 0.1rem;
  font-size: 0.3rem;
  padding: 0 0.1rem;
  width: 0.6rem;
  background: url("../../static/images/uncollection.png") no-repeat center;
  background-size: 0.4rem;
}
header span.collection.active {
  background: url("../../static/images/collection.png") no-repeat center;
  background-size: 0.4rem;
}
header:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #eee;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
